.centerContact {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.containerUs {
    width:900px;
    margin:50px auto 0;
    display:flex;
}
.containerUs .box {
    position:relative;
    width: 300px;
    height:100px;
    box-sizing:border-box;
    text-align:center;
    margin:0 10px;
    background:#00171d;
    overflow:hidden;
    border-radius:4px;
    box-shadow:0 0 0 2px rgba(0,7,10,1);
}
.containerUs .box .icon {
    width:100%;
    height:100%;
    background:#00171d;
    transition: 0.5s;
}
.containerUs .box .icon .fa {
    font-size: 4em;
    line-height:100px;
    color: #0ff;
}
.containerUs .box:hover .icon {
    transform:scale(0);
}
.containerUs .box .details {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#03a9f4;
    transition:0.5s;
    transform:scale(2);
    opacity:0;
}
.containerUs .box:hover .details {
    transform:scale(1);
    opacity:1;
}
.containerUs .box .details h3 {
    margin:0;
    padding:0;
    line-height:100px;
    font-size:24px;
    color:#fff;
}
.containerUs .box .details:nth-child(2) .details {
    background:#e91e63;
}
.containerUs .box .details:nth-child(2) .details {
    background:#607d8b;
}